#map-containing-div {
    height: calc(var(--vh,1vh)*100 - 56px);
    width: 100%
}

.cameraWindow {
    height: calc(var(--vh, 1vh)*100 - 56px);
    width: 100%
}

@media only screen and (min-width: 601px){
    #map-containing-div {
        height: calc(var(--vh, 1vh)*100 - 64px);
        width: 100%
    }
    .cameraWindow {
        height: calc(var(--vh, 1vh)*100 - 64px);
        width: 100%
    }
}

.gem-pic {
    height: calc(var(--vh, 1vh)*40);
    width: 100vw;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}
.recipe-pic {
  height: 40vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

img {
    object-fit: cover;
}
.non-logo-img{
  width: 100%;
}

.tabs-content.carousel.carousel-slider .carousel-item.active {
    position: relative;
}

.tab-container {
    padding-left: 5%;
    padding-right: 5%;
}